h1 {
    font-size: 100px;
    padding-top: 20px;
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    font-family: Helvetica, sans-serif;
}

dt, dd {
    display: inline-block;
    padding: 8px 10px;
    color: black;
}

dt {
    background: rgb(235, 216, 181);
    color: white;
    text-align: right;
    padding-left: 30px;
    font-size: .95em;
}

dt:after {
    content: ' :';
}